<nav class="red darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Billboards</a>
    <a href="#" data-activates="mobile" class="button-collapse">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Artists', root_path %></li>
      <li><%= link_to 'Songs', root_path %></li>
    </ul>
    <ul class="side-nav" id="mobile">
       <li><%= link_to 'Artists', root_path %></li>
      <li><%= link_to 'Songs', root_path %></li>
    </ul>
  </div>
</nav>